!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "NOODP", :name => "ROBOTS"}
    %meta{:content => "initial-scale=1", :name => "viewport"}
      %title
        = title
      %base(href="/")
      = stylesheet_link_tag :application, media: "all"
      = csrf_meta_tags
  %body{:class => body_class}
    = render "flashes"
    .navbar.navbar-inverse
      .container
        .navbar-header
          = link_to 'Videotelligent', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li= link_to 'Videos', root_path
        %ul.nav.navbar-nav.pull-right
          %li= link_to 'Authorize new content provider', '/auth/google_oauth2'

    = yield
    = render "javascript"
