!!!
%html(ng-app='Videotelligent' ng-strict-di)
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "NOODP", :name => "ROBOTS"}
    %meta{:content => "initial-scale=1", :name => "viewport"}
      %title
        = title
      %base(href="/")
      = stylesheet_link_tag :application, media: "all"
      = csrf_meta_tags
  %body{:class => body_class, "ng-controller" => "MainCtrl as main"}
    = render "flashes"

    %div(ui-view='header')
    %div(ui-view='sidebar')
    %div(ui-view='content')
    %div(ui-view='footer')

    = yield
    = render "javascript"
